body {
    width: 100%;
}

.container {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    gap: 10px;

}

.container>div {
    border-radius: 30px;
    transition: ease 2s;
    cursor: pointer;
}

.container .div img {
    width: 100%;
}

.one {
    background-image: url("img/1.jpg");
    width: 60px;
    height: 400px;
}

.two {
    background-image: url("img/2.jpg");
    width: 60px;
    height: 400px;
}

.three {
    background-image: url("img/3.jpg");
    width: 60px;
    height: 400px;
}

.four {
    background-image: url("img/4.jpg");
    width: 60px;
    height: 400px;
}

.five {
    background-image: url("img/5.png");
    width: 60px;
    height: 400px;
}



.active{
    width: 400px;
}